* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

#header{
    flex-direction: row;
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0px !important;

    padding:0px !important;

    background-color:black;
    color: white !important;
}

#left-group{
    padding:0px !important;
    padding-top:15px !important;
    padding-left:25px !important;

    flex-direction: row;
    display: inline-flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    margin: 0 !important;
    background-color:black;
    color: white !important;
    align-items: center;
}

#right-group{
    padding:0px !important;
    padding-top:15px !important;
    padding-right:25px !important;
    flex-direction: row;
    display: inline-flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    margin: 0 !important;

    background-color:black;
    color: white !important;
    align-items: center;
}

.btn{
    font-size: 20px !important;
    color: white !important;
    height: 50px !important;
    font-weight: normal;
    background-color: black !important;
    border: 2px solid white !important;
    box-shadow: 0px 0px 0px rgba(46, 229, 157, 0.4) !important;



}

.btn:hover{
    font-size: 20px !important;
    color: white !important;

    background-color: #592424 !important;
    border: 2px solid white !important;
    box-shadow: 0px 0px 0px rgba(46, 229, 157, 0.4) !important;
}

.btn:active{
    box-shadow: 0px 0px 0px rgba(46, 229, 157, 0.4) !important;
    background-color: #2c2e2c  !important;
}

#welcome-text h1, h2{
    text-align:center;
    color: white;
    padding: 10px;
}

#welcome-text{
    margin: 15%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    text-align:center;
    margin-top: 200px;
    color: white;
    font-size: 20px !important;
}

#tools{
    text-align:center;
    color: white;
    margin-top: 30px;
    margin-bottom: 50px !important;
    margin-left: 30px;
    margin-right: 30px;
}

#tools h1{
    font-size: 25px !important;
}
#tools h2{
    font-size: 15px !important;
}

#size-block{
    padding-left: 15px !important;
    padding-right: 15px !important;
}
#star-block{
    padding-left: 15px !important;
    padding-right: 15px !important;
}
#environment-block{
    padding-left: 15px !important;
    padding-right: 15px !important;
}

#tools-blocks{
    flex-direction: row;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    color: white;
}

#out-logo-size{
    color: white !important;
    width: 25px !important;
    margin: 0px !important;
    padding: 0px !important;
}
#out-star-size{
    color: white !important;
    width: 25px !important;
    margin: 0px !important;
    padding: 0px !important;
}
#out-environment-level{
    color: white !important;
    width: 25px !important;
    margin: 0px !important;
    padding: 0px !important;
}

#tools h1{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: white;
    font-size: 20px !important;
}

#welcome-text h1{
    font-size: 40px !important;
}

#welcome-text h2{
    font-size: 25px !important;

}

#welcome-text h3{
    padding-top: 30px;
    text-align:right;
}

.btn:focus {
    background-color: grey !important;
    border: 2px solid white !important;
    color: white !important;
}

.form-control{
    margin: 0 !important;
    height: 50px !important;
    margin-right:3px !important;

}

#logo{
    width:20em;
    padding-right:30px;


}

#myCanvas{
    margin: 0 !important;
    background-color: black !important;
}

body{

    background-color: black !important;

}

#text{
    width: 300px;
    font-size: 20px !important;
}